<footer>
    <ul class="footer-content">
        <li class="footer-list">
            <ul>
                <li><a class="footer-link" href="{{ '/' | url }}">Blog</a></li>
                <li><a class="footer-link" href="{{ '/articles.html' | url }}">Articles</a></li>
                <li><a class="footer-link" href="{{ '/contact.html' | url }}">Contact</a></li>
                 <li><a class="footer-link" href="{{ '/info.html' | url }}">Info</a></li>
                <li><a class="footer-link" href="{{ '/feed.json' | url }}">Feed</a></li>
            </ul>
        </li>
        <ul class="footer-info">
            <li>Anna Monus | Technical Writing, Editing, Content Consultancy</li>
        </ul>
        <li class="copyright-notice">Copyright &copy; Annalytic.com 2016 &ndash; {{ "now" | date: "%Y" }} </li>
    </ul>
</footer>