<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if ogimg %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@annalyticlab">
        <meta name="twitter:creator" content="@annalyticlab">
        <meta property="og:url" content="https://www.annalytic.com/{{ permalink }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ subtitle }}">
        <meta property="og:image" content="https://www.annalytic.com/assets/img/social/{{ ogimg }}">
    {% endif %}
    <title>{{ title }}</title>
    <link rel='icon' href="{{'/assets/img/site-elements/favicon.ico' | url }}" type='image/x-icon'>
    <link rel="stylesheet" href="{{ '/assets/css/style.min.css' | url }}">
    {% if layout == "post" %}
    <link href="{{ '/assets/css/vendor/prismjs/min/prism-material-dark.min.css' | url }}" rel="stylesheet">
    {% endif %}
</head>