<header>
    <div class="site-id">
        <h1 class="site-title"><a href="{{ '/' | url }}">Annalytic.com</a></h1>
        <h2 class="site-subtitle">Anna Monus | Technical Writer &amp; Editor</h2> 
    </div>
    <nav class="top-menu">
        <ul class="top-menu-list">
            <li class="top-menu-item"><a href="{{ '/' | url }}">Blog</a></li>
            <li class="top-menu-item"><a href="{{ '/articles.html' | url }}">Articles</a></li>
            <li class="top-menu-item"><a href="{{ '/contact.html' | url }}">Contact</a></li>
        </ul>
    </nav>
</header>