---
layout: "base"
---
 <h1 class="post-title">{{ title }}</h1>
 <h2 class="post-subtitle">{{ subtitle }}</h2>
 <p class="post-meta">Posted by Anna Monus on {{ date | date: "%b %d, %Y" }} 
    {% if lastupdate %} 
    (Last updated on {{ lastupdate | date: "%b %d, %Y" }}) 
    {% endif %}
</p>

<div class="post-container single-post">
    {% if ftimg %}
    <figure><img class="img-fluid" src="{{ url }}/assets/img/posts/_featured/{{ ftimg }}" alt="{{ title }}" width="1200" height="630"></figure>
    {% endif %} 

    {{ content }}
</div>