:root {
    --theme-color-primary: #88047c;
    --theme-color-secondary: #5d0488;
    --theme-color-secondary-alt: #500375;
    --theme-color-tertiary: #620359;
    --theme-color-subtle: #fedcfb;
    --theme-color-accent: #035962;
    --text-color-primary: #111;
    --text-color-secondary: #444;
    --text-color-tertiary: #666;
    --text-color-medium: #ddd;
    --text-color-light: #fff;
    --text-color-warning: #dc3545;
    --bg-color: #fff4ee;
    --bg-color-alt: #efdbfe;
    --separator-color: #e5e5e5;
}
*,
::after, 
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background: var(--bg-color);
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    font-family: sans-serif;
}
/* Main content */
.main-content {
    flex: 1;
}
.container {
    max-width: 45rem;
    margin: 1.5rem auto 0.5rem;
    padding-bottom: 4rem;
    border-bottom: 1px var(--separator-color) solid;
}
p {
    padding: 0.625rem 0;
}
/* Links */
a {
    color: var(--theme-color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--theme-color-secondary);
    text-decoration: none;
}
a:active,
a:focus, 
a:visited {
    color: var(--theme-color-accent);
    text-decoration: none;
}
/* Lists */
ol,
ul {
    margin: 0.625rem 0 0.625rem 1.125rem;
}
.list-positive {
    list-style-type: "\2705";
    margin-left: 0.9375rem;
}
.list-negative {
    list-style-type: "\274C";
    margin-left: 0.875rem;
}
.list-positive li,
.list-negative li {
    padding-left: 0.5rem;
}
.document-list {
    list-style-type: '\1F4C3';
 }
.book-list {
    list-style-type: '\1F4D8';
}
.video-list {
    list-style-type: '\1F4F9';
}
.internal-post-list {
    list-style-type: '\1F4DC';
}
.external-post-list {
    list-style-type: '\1F4F0';
}
.check-mark-list {
    list-style-type: '\2714 \FE0F \00A0';
    margin-left: 2rem;
}
.pencil-list {
    list-style-type: '\1F4DD \00A0';
    margin-left: 2rem;
}
.pen-list {
    list-style-type: '\01F58B \FE0F \00A0';
    margin-left: 2rem;
}
.brain-list {
    list-style-type: '\01F9E0 \00A0';
    margin-left: 2rem;
}
.chat-list {
    list-style-type: '\1F4AC \00A0';
    margin-left: 2rem;
}
.document-list li,
.book-list li,
.video-list li,
.internal-post-list li,
.external-post-list li {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}
/* Heading Prefixes */
.prefix-clipboard:before {
    content: '\01F4CB \00A0';
}
.prefix-brain:before {
    content: '\01F9E0 \00A0';
}

/* Blockquotes */
blockquote {
    color: var(--text-color-tertiary);
    font-style: oblique;
    padding: 0 1rem;
    margin: 1rem 0.625rem 2rem;
}
.bq-source {
font-style: normal;
}
/* Headings */
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1.125rem;
}
/* Images, videos */
figure {
    padding: 1.25rem 0;
}
figcaption {
    color: var(--text-color-secondary);
    font-size: 0.875rem;
    font-style: italic;
    text-align: center;
    margin: 0.5rem 0;
 }
.img-fluid,
.video-fluid,
.lightbox {
    max-width: 100%;
    height: auto;
}
.video-fluid {
    margin: 1.25rem 0;
}
.img-center {
    display: block;
    margin: 0 auto;
 }
/* Header */
header {
    max-width: 65rem;
    margin: 0 auto;
    padding: 1rem 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
@media (max-width: 657px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
    .site-id {
        text-align: center;
    }
}
.site-title {
    color: var(--text-color-primary);
    font-size: 2.5rem;
} 
.site-title a,
.site-title a:visited {
    color: var(--text-color-primary);
}
.site-title a:hover,
.site-title a:active,
.site-title a:focus {
    color: var(--theme-color-primary);
}
.site-subtitle {
    color: var(--text-color-tertiary);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}
.top-menu {
    font-size: 1.25rem;
}
.top-menu-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
.top-menu a {
    text-decoration: underline;
}
.top-menu a,
.top-menu a:visited {
    color: var(--theme-color-primary);
}
.top-menu a:hover,
.top-menu a:active,
.top-menu a:focus {
    color: var(--theme-color-accent);
    text-decoration: none;
}
/* Posts */
.post-list {
    list-style-type: none;
}
.post-list-item {
    padding: 2rem 0;
}
.post-list-item .post-date {
    margin-bottom: 1.25rem;
}
.post-title {
    font-size: 1.875rem;
    line-height: 1.4;
}
.post-title-link,
.post-title-link:visited {
    text-decoration: none;
    color: var(--theme-color-tertiary);
}
.post-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 0.5rem;
    color: var(--text-color-secondary);
}
.post-date,
.post-meta {
    color: var(--text-color-tertiary);
    margin-top: 0.5rem;
}
.post-container {
    padding: 2rem 0 1rem;
}
.post-container a, 
.post-container a:visited {
    text-decoration: underline;
}
.post-container a:hover,
.post-container a:active,
.post-container a:visited {
    text-decoration: none;
}
.post-container-item {
    padding-bottom: 1rem;
}
.single-post h2, 
.single-post h3,
.single-post h4 {
    margin: 1.5rem 0;
}
.read-more-link, 
.read-more-link:visited {
    color: var(--theme-color-tertiary);
    text-decoration: underline;
}
.post-title-link:hover,
.post-title-link:active,
.post-title-link:focus,
.read-more-link:hover,
.read-more-link:active,
.read-more-link:focus {
    color: var(--theme-color-accent);
}
/* Info sections */
.info-section {
    background: var(--bg-color-alt);
    border: 1px solid var(--text-color-secondary);
    color: var(--text-color-secondary);
    font-size: 0.9375rem;
    padding: 1rem 1.5rem;
    margin: 1.5rem 1rem;
}
.info-title,
.single-post .info-title {
    color: var(--theme-color-secondary-alt);
    font-size: 1rem;
    margin: 0.5rem 0;
}
/* Articles */
.article-title {
    font-size: 1.4rem;
    font-weight: 400;
}
.article-meta {
    list-style-type: '\2013';
    color: var(--text-color-tertiary);
    padding: 1rem 0 0 1rem;
    margin: 0;
}
.article-meta > li {
    padding-left: 5px;
}
/* Contact form */
.contact-info,
.go-to-home-info {
    padding: 2rem 0 0;
}
.contact-list {
    padding: 1rem 0 0 0.5rem;
}
.contact-form {
    margin: 2rem 0;
}
.contact-link,
.contact-link:visited, 
.go-to-home-link, 
.go-to-home-link:visited {
    color: var(--theme-color-primary);
    text-decoration: underline;
}
.contact-link:hover,
.contact-link:focus,
.contact-link:active, 
.go-to-home-link:hover,
.go-to-home-link:focus,
.go-to-home-link:active  {
    color: var(--theme-color-accent);
    text-decoration: none;
}
button,
input {
    overflow: visible;
}
.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: var(--text-color-primary);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--text-color-medium);
}
.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
.floating-label-form-group .help-block {
    padding: 0;
}
/*.text-danger {
    color: var(--text-color-warning) !important;
}*/
.floating-label-form-group input, 
.floating-label-form-group textarea {
    font-size: 1.5em;
    font-family: sans-serif;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
}
.floating-label-form-group input:focus, 
.floating-label-form-group textarea:focus {
    border: none;
    outline: 1px solid var(--text-color-medium);
}
/* Buttons */
.submit-button {
    background-color: var(--theme-color-primary);
    color: var(--text-color-light);
    font-size: 1rem;
    margin: 0.75rem 0;
    padding: 0.75rem 2rem;
    border: 1px solid var(--text-color-secondary);
    cursor: pointer;
}
.submit-button:hover,
.submit-button:active,
.submit-button:focus {
    background-color: var(--theme-color-secondary);
}
/* Pages */
.page-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 2rem 0 1.5rem;
}
.page-subtitle {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 2rem 0 1.5rem;
    color: var(--text-color-secondary);
}
.page-sub-subtitle {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 2rem 0 1.5rem;
    color: var(--text-color-tertiary);
}
.page-sub-sub-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 2rem 0 1.5rem;
    color: var(--text-color-primary);
}
    
/* Footer */
footer {
    flex-shrink: 0;
    max-width: 65rem;
    margin: 0 auto;
    padding: 2rem 2rem 0;
}
footer a,
footer a:hover,
footer a:active,
footer a:focus,
footer a:visited {
    color: var(--theme-color-primary);
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
}
.footer-content * {
    list-style-type: none;
}
.footer-list > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    font-size: 1.125rem;
    margin: 0;
}
.footer-link,
.footer-link:visited {
    text-decoration: underline;
}
.footer-link:hover,
.footer-link:active,
.footer-link:focus {
    color: var(--theme-color-accent);
}
.footer-info {
    text-align: center;
    max-width: 35rem;
    margin: 0;
}
.footer-id {
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.copyright-notice {
    color: var(--text-color-tertiary);
    font-size: 0.875rem;
    text-align: center;
}
/* Overrides - Simple Lightbox */
.sl-overlay {
    background: var(--text-color-primary) !important;
}
.sl-navigation,
.sl-counter,
.sl-next,
.sl-prev, 
.sl-close {
    color: var(--text-color-light) !important;
}
.sl-caption {
    background: var(--text-color-medium) !important;
    color: var(--text-color-primary) !important;
    font-size: 0.875rem !important;
    font-style: italic;
    text-align: center;
}